{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="mx-auto py-3">
        <h2>Use the search bar to add songs to this playlist.</h2>
    </div>

    <div class="mx-auto py-3">
        <form class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {{ form.csrf_token }}
            {{ form.search_query(class="form-control", placeholder="Search") }}

            {% if form.search_query.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            <br>

            {{ form.submit(class="btn btn-outline-success") }}
        </form>

        <div class="mx-auto py-3">

             <a href="{{url_for('playlist.playlist_detail', playlist_id=playlist_id)}}" class="btn btn-outline-secondary">Return to Playlist</a>

        </div>
       
    </div>
</div>
{% endblock %}