{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <img src="{{ result.image }}" alt="missing">
        <div class="media-body py-3">
            <h5 class="mt-0">{{ result.title }}  - {{ result.artist }}</h5>
            <form>
                <a href="{{ url_for('playlist.add_song', playlist_id=playlist_id, song_id=result.id)}}" class="btn btn-outline-success">Add Song</a>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}