{% extends "header.html" %}
{% block content %}


{% if playlist %}

{# Display card for the movie details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ playlist.title }}
      </div>
      <div class="card-body">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Created by:</b> {{ playlist.author }}</li>
          <li class="list-group-item"><b>Description:</b> {{ playlist.description }}</li>
          <li class="list-group-item"><b>Created On:</b> {{ playlist.date }}</li>
          <li class="list-group-item"><b>Number Of Songs:</b> {{ playlist.date }}</li>
          <li class="list-group-item"><b>Playlist Duration:</b> {{ playlist.get_duration() }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{# Songs #}
<div class="row">
  <div class="col-md-12">
    <h1> Songs </h1>
    <ul class="media-list">
      {% for song in playlist.songs %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
          <a href="{{ url_for('song.song_detail', song=song.id) }}">
            <strong>@{{ song.title }}</strong>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# Favorite Playlist Form#}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}