{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <img src="{{ result.image }}" class="mr-3 movie" alt="missing">
        <div class="media-body">
        <h5 class="mt-0"><a href="{{ url_for('songs.song_detail', song_id=result.deezer_id) }}">{{ result.title }}</a> ({{ result.artist }})</h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}